/* This file is for your main application css. */

@import "~bootstrap/scss/bootstrap";

.header-container {
    width: 100%;
    color: #2c2b2b;
    height: auto;
    text-align: center;
    margin-top: 3em;
    padding-bottom: 3em;
}

.navbar-style {
    background-color: #050505;
    -webkit-box-shadow: 0 8px 8px -8px gray;
	-moz-box-shadow: 0 8px 8px -8px gray;
	box-shadow: 0 8px 8px -8px gray;
}

.action-btn {
    width: 200px;
    cursor: pointer;
    margin: 5px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}

.dropdown-menu {
    right: 0;
    left: auto;
}

#map {
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
}

.marker {
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 6px 3px #656565;
}

.mapboxgl-popup {
  max-width: 200px;
  min-width: 100px;
}

.mapboxgl-popup-content {
  font-family: 'Open Sans', sans-serif;
  padding: 5px;
  min-height: 40px;
  color: rgb(0, 182, 136);
}

.mapboxgl-popup-content h6 {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
.dropdown-link, .dropdown-link a {
    padding: 5px;
    color: black;
}

.ig_post {
    height: 300px;
    // border-radius: 5px;
    border: 1px solid #aaaaaa;
    // margin: 2px;
}

.connect-ig:hover a {
    color: white;
    text-decoration: none;
}

.ig_post img {
    max-height: 300px;
    padding: 10px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.brand-text, .brand-text:hover {
    color: white;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: 'Eczar';
}

.btn-outline-social {
    color: #db625c;
    border-color: #db625c;
}

.btn-outline-social:hover {
    background-color: #db625c;
    color: white;
}

.card {
    padding: 1em;
    border-radius: 15px;
    background-color: white;
    -webkit-box-shadow: 0 8px 6px -6px gray;
    -moz-box-shadow: 0 8px 6px -6px gray;
    box-shadow: 0 8px 6px -6px gray;
}

.centered-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#user-profile .header {
    height: 200px;
    margin-top: 20px;
}
.dp, .dp img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0 0 2px 4px #656565;
}

#user-profile .header .details {
    display: inline-block;
    margin-left: 40px;
    font-size: 20px;
}

.nav-tabs {
    margin-top: 30px !important;
}

.seach-title {
  color: white;
  font-size: 1rem;
}

.search-results {
  position: absolute;
  background: cadetblue;
}

.search-row a {
    color: white;
}

.search-row {
  border: 1px solid white;
}

.search-row:hover {
    background-color: #f8f9fa;
}

.search-row:hover a {
    color: cadetblue;
}
