/* This file is for your main application css. */

@import "~bootstrap/scss/bootstrap";

.header-container {
    width: 100%;
    color: #2c2b2b;
    height: 5em;
    text-align: center;
    margin-top: 2em;
}

.action-btn {
    width: 200px;
    cursor: pointer;
    margin: 5px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

.dropdown-link, .dropdown-link a {
    padding: 5px;
    color: black;
}

.ig_post {
    height: 300px;
    // border-radius: 5px;
    border: 1px solid #aaaaaa;
    // margin: 2px;
}

.ig_post img {
    max-height: 300px;
    padding: 10px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.brand-text, .brand-text:hover {
    color: white;
    text-decoration: none;
}